@font-face {
    font-family: 'Roboto Thin';
    src: url('font/Roboto-Thin.ttf');
}

.background {
    background-image: url('../img/nullbank.jpg');
    background-size:100%;
    height: 439px;
    width: 600px;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 30px;
}

.new-top-right {
    position: absolute;
    top: 100px;
    right: 100px;
}

.roboto {
    font-family: 'Roboto Thin';
    color: midnightblue;
    font-size: 50pt;
}

.arruma {
    width: 20em;
    margin: auto;
    margin-top: 20em;
    text-align: center;
}

.salvar{
    position: absolute;
    right: 60px;
}

.scroll {
    overflow: scroll;
}

.padding16 {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.table-padding {
    padding-top: 16px;
    margin-right: 16px;
    padding-left: 16px;
}

.table-padding-corpo {
    margin-right: 16px;
    padding-left: 16px;
}

.aui-group > .aui-item {
    display: table-cell;
    vertical-align: top;
}

.barra-vertical {
    border-left: 1px solid #ccc;
    padding: 16px;
}

.nullbank {
    font-family:'roboto thin';
    text-align: center;
    height: 
}

.column-width {
    width: 500px;
}

.center {
    text-align: center;
    padding-bottom: 16px;
}